.centerAbs {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0; }

.ellipseContainer {
  position: relative;
  height: 300px;
  width: 300px; }

.ellipse {
  background-color: transparent;
  width: 70px;
  height: 300px;
  border-radius: 70px / 300px;
  border: 3px solid; }

.ellipse::before,
.ellipse::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 20px;
  border: 2px solid;
  offset-path: path("M 35 0 A 35, 150 0 1, 0 35, 300 A 35, 150 0 1, 0 35, 0");
  animation: followpath 3s linear infinite;
  position: absolute; }

.ellipse::after {
  offset-path: path("M 35 300 A 35, 150 0 1, 0 35, 0 A 35, 150 0 1, 0 35, 300"); }

.ellipse-1 {
  transform: rotate(30deg); }

.ellipse-1::before,
.ellipse-1::after {
  animation-delay: 0.5s; }

.ellipse-2 {
  transform: rotate(60deg); }

.ellipse-2::before,
.ellipse-2::after {
  animation-delay: 1s; }

.ellipse-3 {
  transform: rotate(90deg); }

.ellipse-3::before,
.ellipse-3::after {
  animation-delay: 1.5s; }

.ellipse-4 {
  transform: rotate(120deg); }

.ellipse-4::before,
.ellipse-4::after {
  animation-delay: 2s; }

.ellipse-5 {
  transform: rotate(150deg); }

.ellipse-5::before,
.ellipse-5::after {
  animation-delay: 2.5s; }

@keyframes followpath {
  to {
    motion-offset: 100%;
    offset-distance: 100%; } }
